.timeline {
  padding: 0 !important;
}

/*Header */
.timeline .timeline_header {
  padding-top: 20px;
}

.timeline .timeline_firstItem {
  min-height: 20px !important;
}

.timeline .timeline_content {
  padding-left: 7px !important;
}

.timeline .MuitimelineItem-root {
  min-height: 0px;
}

.timeline .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}

.timeline .timeline_dot_header {
  color: black !important;
  background-color: var(--main-color) !important;
  font-size: large !important;
  padding: 15px !important;
}

/*Remaining Items */
.timeline .timeline_dot {
  color: black !important;
  border-color: var(--main-color) !important;
  padding: 2px !important;
}

.timeline .MuiTimelineConnector-root {
  background-color: #000 !important;
}
.timeline .timeline_dot_header > .MuiSvgIcon-root {
  font-size: 20px;
  color: "#eee" !important;
}

.timeline .separator_padding {
  padding-left: 23px !important;
}
